# used for tagging and naming resources
name: big-blue-button

# InstanceType for running BigBlueButton
# recommended 4 cores and 8G, t3.xlarge is 4vCPU + 16GB
instance_type_default: t3.xlarge

# we need to be publicly accessible for bbb to work
# setting this to false you will need to make sure that route53 domain is resolvable on local network, and
# most likely you will be using private hosted zone
public_ip: true

# IAM policies for the instance within AutoScalingGroup
# instance needs to manage Elastic IPs
policies:
  - PolicyName: EIPManage
    PolicyDocument:
      Version: '2012-10-17'
      Statement:
        - Effect: Allow
          Action:
            - ec2:DescribeAddresses
            - ec2:AssociateAddress
            - ec2:DisassociateAddress
          Resource: '*'

# allow ports according to bbb doco
# if you want to ssh into instance instead of using SSM session manager add your home/work IP address and port 22 below,
# in addition to setting allow_ssh: true, which will add cloudformation parameter for ec2 key pair name
allow_incoming:
  - port: 443
    range: 0.0.0.0/0
    protocol: tcp
  - port: 80
    range: 0.0.0.0/0
    protocol: tcp
  - port: 16384-32768
    range: 0.0.0.0/0
    protocol: udp

# connect to instance using session manager
allow_ssh: false